* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.warp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
header {
  flex-shrink: 0;
  background-image: url('../images/Login/homepage/u48.png');
  background-size: cover;
  height: 1.3rem;
  display: flex;
  justify-content: flex-start;
  padding-top: 0.5rem;
  position: relative;
}
header a {
  margin-left: 0.3rem;
  color: #059979;
  position: absolute;
}
header a span.iconfont {
  font-size: 0.4rem;
  display: block;
}
header h3 {
  color: #049979;
  font-size: 0.35rem;
  font-weight: 300;
  margin: 0 auto;
  /* position: absolute; */
}
section {
  overflow: scroll;
  flex-grow: 1;
}
section .main-content {
  width: 7.5rem;
}
section .main-content .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
section .main-content .swiper-slide img {
  width: 100%;
}
section .main-content .contain-title {
  display: flex;
  justify-content: space-around;
  padding: 0.3rem 2.2rem;
}
section .main-content .contain-title span {
  display: block;
  font-size: 0.32rem;
  color: #999999;
}
section .main-content .contain-title .active {
  color: #202020;
}
section .main-content .text article {
  padding: 0.4rem;
}
section .main-content .text article .acticle-up {
  display: flex;
  justify-content: space-between;
  line-height: 0.5rem;
}
section .main-content .text article .acticle-up span {
  font-size: 0.16rem;
  display: block;
}
section .main-content .text article .acticle-up span:first-child {
  padding-left: 0.1rem;
  border-left: 1px solid #54d2ba;
  color: #54d2ba;
}
section .main-content .text article .acticle-up > span:last-child {
  color: #202020;
  padding-right: 0.6rem;
  background: url('../images/diantai/article02.jpg') right center no-repeat;
  background-size: contain;
}
section .main-content .text article .article-main {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0;
}
section .main-content .text article .article-main .article-text {
  margin-right: 0.5rem;
}
section .main-content .text article .article-main h4 {
  display: block;
  font-size: 0.35rem;
  color: #202020;
  margin-bottom: 0.2rem;
}
section .main-content .text article .article-main p {
  display: block;
  font-size: 0.25rem;
  color: #6b6b6b;
  line-height: 0.35rem;
}
section .main-content .text article .article-main img {
  width: 2rem;
}
section .main-content .text article .arcitle-down {
  display: flex;
  justify-content: space-between;
}
section .main-content .text article .arcitle-down > div {
  line-height: 0.2rem;
}
section .main-content .text article .arcitle-down > div:first-child span {
  display: block;
  font-size: 0.2rem;
  color: #bbbbbb;
}
section .main-content .text article .arcitle-down > div:last-child {
  display: flex;
  justify-content: space-between;
  color: #a4a4a4;
}
section .main-content .text article .arcitle-down > div:last-child span {
  /* line-height: 0.2rem; */
  display: block;
  font-size: 0.2rem;
  margin-right: 0.1rem;
}
section .main-content .text .kongxi {
  width: 100%;
  height: 0.2rem;
  background-color: #f5f5f5;
}
footer {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.4rem;
}
footer .f-left {
  display: flex;
  justify-content: flex-start;
}
footer img {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.2rem;
}
footer .title h4 {
  font-size: 0.2rem;
  /* margin-top: 0.1rem; */
  color: #202020;
}
footer .title span {
  font-size: 0.16rem;
  margin-top: 0.1rem;
  display: block;
  color: #454545;
}
footer .f-right {
  display: flex;
  justify-content: flex-end;
}
footer .f-right span.iconfont {
  margin-top: 0.1rem;
  font-size: 0.6rem;
  margin-left: 0.3rem;
  color: #464646;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
