@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1554554851974'); /* IE9 */
  src: url('iconfont.eot?t=1554554851974#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKcAAsAAAAABkgAAAJSAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApMXwE2AiQDCAsGAAQgBYRtBzYbiwXIrrApw/VIhZpn9YwNAXDJxwDOIR7+W3u9b3Y2RCwBNaCKzVcxJq5AslWsUtn6GtvjgYzI0pqmgK7CpYQDWTUihf4hd70+51NUQ+HA2Ck1ITfhlonM87ABB2FgODDPJcyXcwGP+zyX07urgAKZHyjHvWiNQb2AenEgBboHtslKKOOGsQte4HkCdYaMZA7Pbu6hLLOnBeLWaAvKBbcss1iNUNWwNotXSjXpcQp4GX0//tuPMklZsAtOKqcuHPziJPD08OQ6IHgIaHOJAgtAJi4aw0dygjFz6sJ5Y+BYucEvFZjEUfWC/XV2dgMYgIJnEnqiR40leKyB2oCeSY8g2vbU4X48ub/r1urr7vPTTvr8ct9opvu6t9H7uK3maB/1xdI3Rc8ju+yfpa9pgeDm09sfNW++xgy+b6TLhlmp2Ycl+BfCgW3ZENvGlDVhY3fSdo6aOnV4gO1t/qZqOk8cDzU6J1irDWYo1JggM2MBpXobqFJjB3XmnW+u147lRK7FnHeA0OIbSZNvKLT4ITPjF6Uu/6jSEjnUuYr2PetNhakeMFlCLtobNE4UKtcs1Tj3lvTCtzgvjliPxKnx4d7SSjl2TiHxEgvSpd4XUag4CvAMXEa+H2HM0ZwcmcxE4unOcqXpTRMnCqDqACMWQVzItoEMRySkgt6iWvn8LaIt+Czc0VLnf0RYygyP9kzsDiDPFeGglke5JrWk7RNCQQqLBNAZGEV8vgiKm0fNEYeYmE0IxqZ2nE5qqGKyvSr4u31Qx9amcIoLDRUr1Gvjh7aLCAA=') format('woff2'),
  url('iconfont.woff?t=1554554851974') format('woff'),
  url('iconfont.ttf?t=1554554851974') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1554554851974#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangxiangzuo:before {
  content: "\e630";
}

