* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.warp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
header {
  flex-shrink: 0;
  background-image: url('../images/Login/u48.png');
  background-size: cover;
  height: 1.3rem;
  display: flex;
  justify-content: space-between;
  /* padding-top: 0.5rem; */
  padding: 0.5rem 2.2rem 0;
  position: relative;
}
header a {
  left: 0.3rem;
  color: #059979;
  position: absolute;
}
header a span.iconfont {
  font-size: 0.4rem;
  display: block;
}
header h3 {
  color: #049979;
  font-size: 0.3rem;
  font-weight: 300;
  display: block;
  line-height: 30px;
  /* margin: 0 auto; */
  /* position: absolute; */
  margin-bottom: 0.1rem;
}
header .active {
  border-bottom: 2px solid #009c7a;
}
section {
  overflow: scroll;
  flex-grow: 1;
}
section .main-content {
  background-color: #f5f5f5;
}
section .main-content article {
  background-color: #fff;
  padding: 0.3rem;
  margin-top: 0.2rem;
  display: flex;
  flex-direction: column;
}
section .main-content article .head {
  display: flex;
}
section .main-content article .head img {
  width: 0.6rem;
  height: 0.6rem;
  margin-right: 0.15rem;
}
section .main-content article .head h4 {
  font-size: 0.3rem;
  color: #858383;
  margin-right: 0.1rem;
  line-height: 0.6rem;
}
section .main-content article .head span {
  display: block;
  font-size: 0.25rem;
  color: #a0a0a0;
  text-decoration: underline;
  line-height: 0.6rem;
}
section .main-content article p {
  font-size: 0.35rem;
  color: #686767;
  line-height: 0.6rem;
}
section .main-content article .footer {
  display: flex;
  justify-content: space-between;
}
section .main-content article .footer img {
  width: 2.3rem;
  height: 0.6rem;
  /* display: block; */
}
section .main-content article .footer span {
  font-size: 0.2rem;
  color: #a0a0a0;
  line-height: 0.6rem;
}
