* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.warp {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
header {
  flex-shrink: 0;
  background-image: url('../images/Login/u48.png');
  background-size: cover;
  height: 1.3rem;
  display: flex;
  justify-content: flex-start;
  padding-top: 0.5rem;
  position: relative;
}
header a {
  margin-left: 0.3rem;
  color: #059979;
  position: absolute;
}
header a span.iconfont {
  font-size: 0.4rem;
  display: block;
}
header h3 {
  color: #049979;
  font-size: 0.35rem;
  font-weight: 300;
  margin: 0 auto;
  /* position: absolute; */
}
section {
  overflow: scroll;
  flex-grow: 1;
}
section .main-content {
  display: flex;
  flex-wrap: wrap;
}
section .main-content img {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
}
